/* Général ------------------------------------------------------------------------------------- */



/* Menu ---------------------------------------------------------------------------------------- */


li {
 margin-left:20px;
 float:left; /*pour IE*/
 }

 
 .title{
     font-size: 350%;
     float : left;
     margin-top: 0%;
     width: 100%;
     color : white;
     background-color: gray;
     height: 110%;
 }
 
 .menu{
     margin-top: 1%;
     float : right;
     color : white;
     padding:0;
    list-style-type:none;
    position: absolute;
    right: 20px;
    display:inline;
 }

 .user{
     color : #101010;
     text-align: center;
     margin-top: 10%;
 }
 
 a{
     color : white;
 }
 
 link.menu{
     color : white;
 }
 
 .conins{
     color : black;
     text-align: right;
     margin-left: 93%;
     float : left;
 }
 
 .footer{
     background-color: gray;
     color : white;
     position : fixed;
     width: 100%;
     text-align: center;
     bottom : 0;
     clear : both;
 }
 
 
 .linkEquipement{
     color : black;
 }
 
 .titleRecherche{
     margin-left: 40%;
 }