<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="bootstrap.min.css"  />
        <h:outputStylesheet name="form.css"  />
        <meta charset="utf-8"/>
    </h:head>
    <h:body>
        <br/>
        <h1 class="title">
            SportCenter
        </h1>
        <div class="menu" style="display:inline;">
            <ul>
                <li>       
                    <h:link value="Compte" outcome="utilisateur" />
                </li>
                <li>       
                    <h:link value="Recherche" outcome="search" />
                </li>
                <li><h:link value="Requête"  outcome="request" /></li>
                
                <li><h:form><h:commandLink value="Déconnexion" action="#{loginBean.logout}"/></h:form></li>
            </ul>
        </div>
        
        <footer class="footer"><h5>SportCenter 2017</h5></footer>
    </h:body>
</html>

