<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="bootstrap.min.css"  />
        <h:outputStylesheet name="form.css"  />
    </h:head>
    <h:body>
        <br/>
        <h1 class="title">
            SportCenter
        </h1>
        <div class="menu" style="display:inline;">
            <ul>
                <li>       
                    <h:link value="Compte" outcome="utilisateur" />
                </li>
                <li>       
                    <h:link value="Recherche" outcome="search" />
                </li>
                <li><h:link value="Requête"  outcome="request" /></li>
                
                <li><h:form><h:commandLink value="Déconnexion" action="#{loginBean.logout}"/></h:form></li>
            </ul>
        </div>
        <h1> Search</h1>
        <h:outputLabel value="#{equipementBean.filter}"/>

        <h1 style="text-align: center">#{userBean.user.nom}</h1>
        <br/>
        <h:form id="formulaire">
        <h:outputLabel for="recherche"  >Recherche</h:outputLabel>
            <h:inputText id="recherche" value="#{equipementBean.value}" size="20" maxlength="60" label="recherche"/>
            <h:commandButton value="Recherche" action="#{equipementBean.getGenerally}"  />
            <h:selectOneMenu value="#{equipementBean.filter}">
                <f:selectItems value="#{equipementBean.listeChoix}"/>
            </h:selectOneMenu>  
         </h:form>

        <div id="result" class="panel-heading">
            <h:form>
            <h:dataTable class="table table-striped table-bordered" value="#{equipementBean.liste}" var="item">
                <h:column>
                    <h:commandLink action="#{equipementBean.seeEquipement(item)}" class="linkEquipement">
                        <h:outputLabel value="#{item}"/>
                        <f:setPropertyActionListener target="#{equipementBean.equipement}" value="#{item}" />
                    </h:commandLink>    
                </h:column>
            </h:dataTable>
            </h:form>
        </div>
        <div class="footer"><h5>SportCenter 2017</h5></div>
    </h:body>
</html>

