<!DOCTYPE html>
<html lang="#{localeBean.language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 
    <f:view locale="#{localeBean.locale}">
    <h:head>
        <meta charset="utf-8" />
        <title>Inscription</title>
        <h:outputStylesheet name="bootstrap.min.css"  />
        <h:outputStylesheet name="form.css"  />
    </h:head>
    <h:body>
        <h:commandButton action="#{localeBean.setLanguage('en')}" immediate="true" value="English"/>
        <h:commandButton action="#{localeBean.setLanguage('fr')}" immediate="true" value="Français"/>
        <br/>
        <h1 class="title">
            SportCenter
        </h1>
        <h:link value="Connexion" class="conins" outcome="connexion" />
        <br /><br /><br /><br /><br/>
        <div class="col-lg-15 col-lg-offset-2">
      <h:form id="formulaire" >
         <fieldset>
         	<legend>#{msg['label.inscription']}</legend>
                <div class="col-xs-4">
	     	<h:outputLabel for="email">Adresse email <span class="requis">*</span></h:outputLabel>
                <h:inputText id="email" value="#{inscrireBean.utilisateur.email}" styleClass="form-control" size="20" maxlength="60" label="mail" requiredMessage="Veuillez saisir une adresse email"  >
	        	            <f:ajax event="blur" render="emailMessage" />
                                        <f:validator binding="#{existenceEmailValidator}" />

                </h:inputText>
                </div>
                <h:message id="emailMessage" for="email" errorClass="erreur" />
                <br /><br /><br /><br />
                
                <div class="col-xs-4">
	        <h:outputLabel for="motdepasse">Mot de passe <span class="requis">*</span></h:outputLabel>
	        <h:inputSecret id="motdepasse" value="#{inscrireBean.utilisateur.motDePasse}" styleClass="form-control" size="20" maxlength="20" label="mot de passe" requiredMessage="Veuillez saisir un mot de passe" >
	        	            <f:ajax event="blur" render="motDePasseMessage" />
	        </h:inputSecret>
                </div>
                <h:message id="motDePasseMessage" for="motdepasse" errorClass="erreur" />
	        <br /><br /><br /><br />
                
                <div class="col-xs-4">
	        <h:outputLabel for="confirmation">Confirmation du mot de passe <span class="requis">*</span></h:outputLabel>
	        <h:inputSecret id="confirmation" value="#{inscrireBean.utilisateur.motDePasse}" styleClass="form-control" size="20" maxlength="20" label="confirmation"  requiredMessage="\nVeuillez saisir la confirmation du mot de passe">
	       	            <f:ajax event="blur" render="confirmationMessage" />
	        </h:inputSecret>
                </div>
                <h:message id="confirmationMessage" for="confirmation" errorClass="erreur" />
	        <br /><br /><br /><br />
	
                <div class="col-xs-4">
	        <h:outputLabel for="nom">Nom d'utilisateur <span class="requis">*</span></h:outputLabel>
	        <h:inputText id="nom" value="#{inscrireBean.utilisateur.nom}" styleClass="form-control" size="20" maxlength="20" label="nom"  requiredMessage="Veuillez saisir un nom d'utilisateur">
	        	            <f:ajax event="blur" render="nomMessage" />
	        </h:inputText>
                </div>
                	        <br /><br /><br /><br />

                <div class="col-xs-4">
	        <h:outputLabel for="phonenumber">Numéro <span class="requis">*</span></h:outputLabel>
	        <h:inputText id="phonenumber" value="#{inscrireBean.utilisateur.phonenumber}" styleClass="form-control" size="20" maxlength="20" label="nom"  requiredMessage="Veuillez saisir un numéro de téléphone">
                    <f:ajax event="blur" render="nomMessage" />
	        </h:inputText>
                </div>
                                	        <br /><br /><br /><br />

                <div class="col-xs-4">
                <h:outputLabel for="admin"> Admin :   </h:outputLabel> 
                <h:selectBooleanCheckbox id="admin" value="#{inscrireBean.utilisateur.admin}" /> 
                </div>

                <h:message id="nomMessage" for="nom" errorClass="erreur" />
	        <br />
	        <h:messages globalOnly="true" infoClass="info" />
                 <br /><br /><br />
                                 <div class="col-xs-4">

	        <h:commandButton value="Inscription" action="#{inscrireBean.inscrire}" class="btn btn-primary btn-lg"/>
                                 </div>
	        <br /><br/><br/><br/><br/><br/>
          </fieldset>
        </h:form>
        </div>
        <div class="footer"><h5>SportCenter 2017</h5></div>
    </h:body>
        </f:view>
</html>